:root {
  --c-bg: #ffffff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  --c-svg-bg: #000000;
  --c-prose-bg: #ffffff;
  /* --c-nav-icon: # */
}

html {
  background-color: var(--c-bg);
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
  --c-svg-bg: #ffffff;
  --c-prose-bg: #242424;
}

body {
  position: relative;
}

.svg-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* background-image: url('/app-bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px); */
  /* transform: scale(1.2); */
  background-color: var(--c-svg-bg);
  -webkit-mask-image: url('/bg.svg');
  mask-image: url('/bg.svg');
}

html {
  /* overflow: scroll; */
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}